<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Películas</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Búsqueda de Películas</h1>
        <input type="text" id="movie-input" placeholder="Ingrese el nombre de una película">
        <button id="search-button">Buscar</button>
        <div id="movie-info"></div>
    </div>

    <script src="/script.js"></script>
</body>

</html>